<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% posts.forEach(post => { %>
      <li><%= post.title %></li>
    <% }) %>
  </ul>

  <a href="/posts/new">Nouveau</a>
</body>
</html>