<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
    <h1><a href="/">Blog</a></h1>
  <h2><%= title %></h2>
  <form action="/users/login" method="POST">
    <div>
      <label for="email">Email :</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Se connecter</button>
  </form>

  <a href="/users/new">S'inscrire</a>

  <!-- <a href="/users">Retour à la liste des users</a> -->

</body>
</html>
